services:
  backend:
    build: ./backend
    container_name: spring-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: prod

  frontend:
    build: ./frontend
    container_name: vue-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
